In [1]:
from data import ForexData

In [2]:
ForexData().fetch_data(instrument="EUR_USD")

     instrument                      Time  ...      Low    Close
0       EUR_USD 2023-08-11 21:00:00+10:00  ...  1.09898  1.09974
1       EUR_USD 2023-08-11 22:00:00+10:00  ...  1.09660  1.09682
2       EUR_USD 2023-08-11 23:00:00+10:00  ...  1.09551  1.09628
3       EUR_USD 2023-08-12 00:00:00+10:00  ...  1.09580  1.09722
4       EUR_USD 2023-08-12 01:00:00+10:00  ...  1.09510  1.09562
...         ...                       ...  ...      ...      ...
4995    EUR_USD 2024-06-01 02:00:00+10:00  ...  1.08398  1.08474
4996    EUR_USD 2024-06-01 03:00:00+10:00  ...  1.08454  1.08471
4997    EUR_USD 2024-06-01 04:00:00+10:00  ...  1.08410  1.08426
4998    EUR_USD 2024-06-01 05:00:00+10:00  ...  1.08406  1.08512
4999    EUR_USD 2024-06-01 06:00:00+10:00  ...  1.08464  1.08486

[5000 rows x 7 columns]

In [7]:
import oandapyV20.endpoints.instruments as instruments
import pandas as pd

count = 1000
granularity = "M1"
price = "M"
instrument = "EUR_USD"
params = {
            "count": count,
            "granularity": granularity,
            "price": price
        }
r = instruments.InstrumentsCandles(instrument=instrument, params=params)
response = ForexData().api.request(r)
pd.DataFrame(response)

    instrument granularity                                            candles
0      EUR_USD          M1  {'complete': True, 'volume': 29, 'time': '2024...
1      EUR_USD          M1  {'complete': True, 'volume': 29, 'time': '2024...
2      EUR_USD          M1  {'complete': True, 'volume': 10, 'time': '2024...
3      EUR_USD          M1  {'complete': True, 'volume': 10, 'time': '2024...
4      EUR_USD          M1  {'complete': True, 'volume': 5, 'time': '2024-...
..         ...         ...                                                ...
995    EUR_USD          M1  {'complete': True, 'volume': 8, 'time': '2024-...
996    EUR_USD          M1  {'complete': True, 'volume': 31, 'time': '2024...
997    EUR_USD          M1  {'complete': True, 'volume': 68, 'time': '2024...
998    EUR_USD          M1  {'complete': True, 'volume': 169, 'time': '202...
999    EUR_USD          M1  {'complete': True, 'volume': 100, 'time': '202...

[1000 rows x 3 columns]